:root {
  --primary-color: #15223A;
  --text-color: #15223A;
  --text-color-lighter: #BD924F;
  --secondary-color: #BD924F;
  --hover-color: #CEAF7D;
  --white: #FFFFFF;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 1.3rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(images/stone_texture.png);
}

.logo {
  width: 15rem;
  position: absolute;
  top: 10px;
  left: 10%;
}

h1 {
  font-size: 2.5rem;
  text-align: left;
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
  transition: color 0.2s;
}

.header {
  background-color: var(--primary-color);
  padding: 48px 0;
  border-bottom: var(--secondary-color) 6px solid;
 
}

main>article,
nav {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__link {
  text-decoration: none;
  font-family: 'Cinzel';
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  float: left;
  margin-left: 60px;
}

nav {
  float: right;
  margin-right: 100px;
}

nav>a.logo {
  margin-right: auto;
  text-transform: uppercase;
}

main>section,
main>article {
  margin-bottom: 50px;
}

main>section.hero {
  height: 800px;
  background-image: url(images/the-greatest-showman-hugh-jackman-vogue.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.hero>.button {
  background-color: var(--secondary-color);
  border: none;
  padding: 12px 14px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}

.hero .button:hover {
  background-color: var(--hover-color);
  transform: translateY(-1px);
}

main article {
  padding: 8px 96px;
}

main p {
  line-height: 1.75;
  margin-bottom: 48px;
}

.link_card {
  width: 300px;
  border-radius: 3px;
}

.link_card_img {
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.link_card_header{
  padding: 0 10px;
}

main h1, h4{
  font-family: 'Cinzel';
}

main p {
  font-family: 'Lato';
}

.column {
  float: left;
}

.left {
  width: 55%;
}

.left p {
  padding-left: 30px;
}

.right {
  width: 45%;
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  padding-top: 50px; 
}

.one {
  position: relative;
  top: 0;
  left: 0;
}

.one h4, .two h4 {
  margin-top: -5px;
  padding: 5px;
  background-color: var(--secondary-color);
  text-align: center;
}

.two {
  position: absolute;
  top: 275px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  margin-top: auto;
  background-color: var(--primary-color);
  text-align: left;
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--text-color-lighter);
  border-top: var(--secondary-color) 6px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_logo {
  width: 15rem;
}
