:root {
  --primary-color: #15223A;
  --text-color: #042d2f;
  --text-color-lighter: #074c50;
  --secondary-color: #BD924F;
  --warn-color: #FDD219;
  --danger-color: #FA5456;
  --white: #FFFFFF;
  --off-white: #F1F2F4;
  --gray: #A1A1A1;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 1.3rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(images/stone_texture.png);
}
.logo {
  width: 15rem;
  position: absolute;
  top: 10px;
  left: 10%;
}
h1 {
  font-size: 2.5rem;
  text-align: left;
}


a:hover {
  text-decoration: underline;
}

.header {
  background-color: var(--primary-color);
  padding: 48px 0;
  border-bottom: var(--secondary-color) 6px solid;
 
}

main>article,
nav {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}



.header__link {
  text-decoration: none;
  font-family: 'Cinzel';
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  float: left;
  margin-left: 60px;
}


nav {
  float: right;
  margin-right: 100px;
}

nav>a.logo {
  margin-right: auto;
  text-transform: uppercase;
}

main>section,
main>article {
  margin-bottom: 50px;
}

main>section.hero {
  height: 800px;
  background-image: url(images/the-greatest-showman-hugh-jackman-vogue.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

section.hero>button {
  background-color: var(--secondary-color);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

main article {
  padding: 8px 96px;
}

main p {
  line-height: 1.75;
  margin-bottom: 48px;
  ;
}

.link_card {
  width: 300px;
  border-radius: 3px;
}

.link_card_img {
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.link_card_header{
  padding: 0 10px;
}

.footer {
  margin-top: auto;
  background-color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--secondary-color);
  border-top: var(--secondary-color) 6px solid;
}
