:root {
  --primary-color: #15223A;
  --text-color: #BD924F;
  --secondary-color: #BD924F;
  --hover-color: #CEAF7D;
  --white: #FFFFFF;
}

body {
  font-family: 'Cinzel', 'Lato';
  margin: 0;
  font-size: 1.3rem;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(images/stone_texture_blue_color_burn.jpg);
}

.logo {
  width: 15rem;
  position: absolute;
  top: 10px;
  left: 10%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Cinzel';
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: var(--primary-color);
  padding: 48px 0;
  border-bottom: var(--secondary-color) 6px solid;
}

main>article,
nav {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__link {
  text-decoration: none;
  font-family: 'Cinzel';
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  float: left;
  margin-left: 60px;
}

nav {
  float: right;
  margin-right: 100px;
}

nav>a.logo {
  margin-right: auto;
  text-transform: uppercase;
}

.sub_heading {
  font-family: 'Cinzel';
  font-size: 2.2rem;
  text-align: left;
}

  main>article {
    margin-bottom: 90px;
  }
  
  .main_p {
    font-family: 'Lato';
    font-size: 1.5rem;
  }

.videowrapper {
  position: relative;
  padding-bottom: 56%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper .video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
  
.footer {
  grid-area: footer;
  margin-top: auto;
  background-color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
  border-top: var(--secondary-color) 6px solid;
}

/* ===== media queries ===== */

/* == tablet == */

@media only screen and (min-width:768) and (max-width: 1100px) {
  .header {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .logo {
    width: 10rem;
  }

  main {
    margin: 15px;
  }

  .video {
    width: 560;
    height: 315;
  }

  .main_header {
    font-size: 2rem;
  }

  .sub_heading {
    font-size: 1.9rem;
  }

  .mian_p {
    font-size: 1rem;
    text-align: center;
  }
}

/* == phone == */

@media only screen and (min-width:375px) and (max-width: 768px) {
  .header {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .logo {
    width: 5rem;
  }

  main {
    margin: 15px;
  }

  .video {
    width: 460;
    height: 215;
  }

  .main_header {
    font-size: 1.7rem;
  }

  .sub_heading {
    font-size: 1.3rem;
  }

  .mian_p {
    font-size: .5rem;
    text-align: center;
  }
}